<?xml version="1.0"?>
<!--
/**
 * @category    FI
 * @package     FI_Checkout
 * @copyright   Copyright (c) 2012 Sergiy Stotskiy (http://freaksidea.com)
 */
-->
<config>
    <modules>
        <FI_Checkout>
            <version>1.1.0</version>
        </FI_Checkout>
    </modules>
    <global>
        <blocks>
            <fi_checkout>
                <class>FI_Checkout_Block</class>
            </fi_checkout>
        </blocks>
        <helpers>
            <fi_checkout>
                <class>FI_Checkout_Helper</class>
            </fi_checkout>
        </helpers>
        <models>
            <fi_checkout>
                <class>FI_Checkout_Model</class>
                <resourceModel>fi_checkout_resource</resourceModel>
            </fi_checkout>
            <fi_checkout_resource>
                <class>FI_Checkout_Model_Resource</class>
            </fi_checkout_resource>
        </models>
        <resources>
            <fi_checkout_setup>
                <setup>
                    <module>FI_Checkout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </fi_checkout_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <fi_checkout>
                <use>standard</use>
                <args>
                    <module>FI_Checkout</module>
                    <frontName>fi_order</frontName>
                </args>
            </fi_checkout>
        </routers>
        <layout>
            <updates>
                <fi_checkout>
                    <file>freaks/checkout.xml</file>
                </fi_checkout>
            </updates>
        </layout>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <fi_checkout>
                        <class>fi_checkout/observer</class>
                        <method>collectTotalsBefore</method>
                    </fi_checkout>
                </observers>
            </sales_quote_collect_totals_before>
            <checkout_type_onepage_save_order>
                <observers>
                    <fi_checkout>
                        <class>fi_checkout/observer</class>
                        <method>addOrderComment</method>
                    </fi_checkout>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_submit_all_after>
                <observers>
                    <fi_checkout>
                        <class>fi_checkout/observer</class>
                        <method>tryToProcessOrder</method>
                    </fi_checkout>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <default>
        <checkout>
            <easyco>
                <default_country>UA</default_country>
                <default_region>Kyiv</default_region>
                <default_city>Kyiv</default_city>
                <use_default_country>0</use_default_country>
                <password_type>field</password_type>
                <location_type>few</location_type>
                <show_build_fields>0</show_build_fields>
                <show_newsletter>unchecked</show_newsletter>
                <newsletter_send_request>1</newsletter_send_request>
                <newsletter_send_success>1</newsletter_send_success>
                <shipping_dependent_sections>totals</shipping_dependent_sections>
                <payment_dependent_sections>totals</payment_dependent_sections>
            </easyco>
        </checkout>
    </default>
</config>
